body {
	font-family: "Chalkboard SE", "Comic Sans MS", cursive;
	text-align: center;
	background-image: url(file:///C:/Users/lba22/Downloads/Untitled.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	h1 {font-size: 55px;}
	h1 {color: #f0f0f0f;
  text-shadow:
    -2px -2px 0 white,
     2px -2px 0 white,
    -2px  2px 0 white,
     2px  2px 0 white;
}